.profile--page--header--line{
     width:360px;
    height:0;
    border-top:1px solid #9BA4B5;
    position:absolute;
    left:0px;
    top:60px;
}
.profile--page--middle--line1{
     width:360px;
    height:0;
    border-top:1px solid #9BA4B5;
    position:absolute;
    left:0px;
    top:360px;
}
.profile--page--middle--line2 {
 width:360px;
    height:0;
    border-top:1px solid #9BA4B5;
    position:absolute;
    left:0px;
    top:440px;
}
/* .profile--page--header--line3{
     width:360px;
    height:0;
    border-top:1px solid #9BA4B5;
    position:absolute;
    left:0px;
    top:200px;
} */
.settings--image{
    width:25px;
    height:25px;
    margin: 15px 0 0 20px;
}
.downArrow--image{
    width:20px;
    height:20px;
    position: absolute;
    left:260px;
    top:15px;
}
.navbar--username{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    position: absolute;
    left:85px;
    top:15px;
}
.person--image{
    width:30px;
    height:30px;
    /* position: absolute; */
    margin-left: 500px;
    top:10px;
}
.profile--page--image{
    width:90px;
    height:90px;
    margin-top: 40px;
}
.profile--username{
    font-size:25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    position: absolute;
    left:130px;
    top:100px;
}
.edit--profile--button, .view--archive--button{
    width:100px;
    height:40px;
    font-size: 15px;
    border-radius:15px;
    /* position:absolute;
    left:50px; */
    background-color:  #0096FF;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.edit--profile--button{
    position: relative;
    left:20px;
    bottom:15px;
}
.view--archive--button{
    position: relative;
    left:30px;
    bottom:15px;
}
.name{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top:0px;
    margin-left:20px;
}
.ape--image{
    width:20px;
    height:20px;
    position: absolute;
    left:170px;
    top:190px;
}
.bio{
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.sunflower--image{
    width:80px;
    height:80px;
    border-radius: 50px;
    border:3px solid grey;
    margin-top:5px;
    margin-left:10px;
}
.flower--icon{
    width:20px;
    height:20px;
    position: absolute;
    top:330px;
    left:45px;
}
.post--count, .post--title{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    
}
.post--count{
    top:370px;
    left:50px;
    font-weight: bold;
}
.post--title{
    top:400px;
    left:40px;
}
.followers--count, .followers--title{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    /* left:150px; */
}
.followers--count{
    top:370px;
    left:150px;
    font-weight: bold;
}
.followers--title{
    top:400px;
    left:130px;
}
.following--count, .following--title{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left:250px;
}
.following--count{
    top:370px;
    left:280px;

}
.following--title{
    top:400px;
}
.grid--image{
    width:35px;
    height:35px;
    position: absolute;
    top:448px;
    left:40px;
}
.bookmark--image{
    width:30px;
    height:30px;
    position: absolute;
    top:452px;
    left:155px;
}
.tag--image{
    width:30px;
    height:30px;
    position: absolute;
    top:450px;
    right:60px;
}
/* .profile--footer--search,
.profile--footer--more, 
.profile--footer--heart, 
.profile--footer--profile{
     margin-left: 40px;
} */
/* .profile--page--footer{
    width:30px;
    height:30px;
} */
.blueTick--image{
    width:20px;
    height:20px;
    position: absolute;
    right:10px;
    top:105px;
}
.posts--title{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top:550px;
    left:20px;
}
.posts----details--para1{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    top:620px;
    left:30px;
    right:4px;
    /* right:40px; */
}
.posts--details--para2{
    font-size:18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top:670px;
    left:85px;
    color:#337CCF;
    font-weight: bold;
}

@media screen and (min-width: 640px){
    .profile--page--header--line,
    .profile--page--middle--line1,
    .profile--page--middle--line2,
    .profile--page--header--line3{
        width:100%;
    }
    .profile--page--middle--line1{
        margin-top: 50px;
    }
    .profile--page--middle--line2{
        margin-top: 70px;
    }
    .profile--page--image{
        margin-left: 50px;
    }
    .profile--username{
        margin-left: 30px;
    }
    .blueTick--image{
        right: 260px;
    }
    .name{
        margin-left: 50px;
        margin-top: 30px;
        
    }
    .ape--image{
        left: 200px;
        margin-top: 30px;
    }
    .bio{
        margin-left: 50px;
    }
    .sunflower--image{
        margin-left: 50px;
    }
    .flower--icon{
        margin-top: 40px;
        margin-left: 40px;
    }
    .post--count, .followers--count, .following--count{
        margin-top:60px;
        font-size: 25px;
    }
    .post--title, .followers--title, .following--title{
        margin-top: 70px;
        font-size: 25px;
        
    }
    .post--count{
        margin-left: 5px;
    }
    .followers--count{
        margin-left: 130px;
    }
    .following--count{
        margin-left: 270px;
    }
    .followers--title{
        margin-left: 130px;
    }
    .following--title{
        margin-left: 260px;
    }
    .grid--image, .bookmark--image, .tag--image{
        margin-top:70px;
    }
    .bookmark--image{
        margin-left: 140px;
    }
    .grid--image{
        margin-left: 8px;
    }
    .posts--title{
        margin-top: 40px;
        margin-left: 120px;
    }
    .posts----details--para1{
        margin-top: 70px;
        margin-left: 70px;
    }
    .posts--details--para2{
        margin-top: 80px;
        margin-left: 130px;
    }
   
    

}
@media screen and (min-width: 768px){
    .profile--page--header--line,
    .profile--page--middle--line1,
    .profile--page--middle--line2,
    .profile--page--header--line3{
        width:100%;
    }
    .settings--image{
        margin-left: 100px;
    }
    .person--image{
        margin-left: 550px;
    }
      .navbar--username{
        margin-left: 50px;
    }
       .downArrow--image{
        margin-left: 60px;
    }
    .profile--page--middle--line1{
        margin-top: 50px;
    }
    .profile--page--middle--line2{
        margin-top: 70px;
    }
    .profile--page--image{
        margin-left: 100px;
    }
    .profile--username{
        margin-left: 100px;
    }
    .blueTick--image{
        right: 320px;
    }
    .name{
        /* margin-left: 100px;
        margin-top: 30px; */
        margin: 30px 0 0 100px;
        
    }
    .ape--image{
        left: 250px;
        margin-top: 30px;
    }
    .bio{
        margin-left: 100px;
    }
    .sunflower--image{
        margin-left: 100px;
    }
    .flower--icon{
        /* margin-top: 40px;
        margin-left: 90px; */
        margin: 40px 0 0 90px;
    }
    .post--count, .followers--count, .following--count{
        margin-top:60px;
        font-size: 25px;
    }
    .post--title, .followers--title, .following--title{
        margin-top: 70px;
        font-size: 25px;
        
    }
    .post--count{
        margin-left: 85px;
    }
    .post--title{
        margin-left: 80px;
    }
    .followers--count{
        margin-left: 220px;
    }
    .following--count{
        margin-left: 350px;
    }
    .followers--title{
        margin-left: 220px;
    }
    .following--title{
        margin-left: 340px;
    }
    .grid--image, .bookmark--image, .tag--image{
        margin-top:70px;
    }
    .bookmark--image{
        margin-left: 230px;
    }
    .tag--image{
        margin-right:50px 
    }
    .grid--image{
        margin-left: 85px;
    }
    .posts--title{
        /* margin-top: 40px;
        margin-left: 220px; */
        margin: 40px 0 0 220px;
    }
    .posts----details--para1{
        /* margin-top: 70px;
        margin-left: 70px; */
        margin: 70px 0 0 150px;
    }
    .posts--details--para2{
        /* margin-top: 80px;
        margin-left: 130px; */
        margin: 80px 0 0 220px;
    }
   
    

}
@media screen and (min-width:1024px){
    .navbar--username{
        margin-left: 150px;
    }
    .person--image{
        margin-left: 700px;
    }
    .settings--image{
        margin-left: 150px;
    }
    .downArrow--image{
        margin-left: 150px;
    }
    .profile--page--image{
        margin-left: 150px;
        width:100px;
        height:100px;
    }
    .profile--username{
        margin-left: 150px;
    }
    .blueTick--image{
        margin-right: 200px;
    }
    .name{
        margin-left: 150px;
    }
    .ape--image{
        margin: 40px 0 0 50px;
    }
    .bio{
        margin-left:150px;
    }
    .sunflower--image{
        margin: 30px 0  0 150px;
    }
    .flower--icon{
        margin: 90px 0 0 140px;
    }
     .profile--page--middle--line1{
        margin-top: 100px;
     }
     .profile--page--middle--line2{
        margin-top: 100px;
     }
     .post--count{
        margin: 100px 0 0 130px;
     }
     .post--title{
        margin: 100px 0 0 120px;
     }
     .followers--count{
        margin: 100px 0 0 380px;
     }
     .followers--title{
        margin: 100px 0 0 380px;
        
     }
     .following--count{
        margin: 100px 0 0 600px;
     }
     .following--title{
        margin: 100px 0 0 600px;
     }
     .grid--image{
        margin: 100px 0 0 130px;
     }
     .bookmark--image{
        margin: 100px 0 0 390px;
     }
     .tag--image{
        margin: 100px 50px 0 0;
     }
     .posts--title{
        margin-left:380px;
     }
     .posts----details--para1{
        margin-left: 320px;
     }
     .posts--details--para2{
        margin-left:380px;
     }
    
    
    
}

@media screen and (min-width:1280px){
    .navbar--username{
        margin-left: 350px;
    }
    .settings--image{
        margin-left: 350px;
    }
    .downArrow--image{
        margin-left: 350px;
    }
    .person--image{
        margin-left: 750px;
    }
    .profile--page--image{
        margin-left: 350px;
        width:100px;
        height:100px;
    }
    .profile--username{
        margin-left: 350px;
    }
    .blueTick--image{
        margin-right: 260px;
    }
    .name{
        margin: -40px 0 0 500px;
    }
    .ape--image{
        margin: -30px 0 0 400px;
    }
    .bio{
        margin-left:500px;
    }
    .edit--profile--button{
        margin-left: 250px;
        top:-65px;
    }
    .view--archive--button{
        top:-65px;
    }
    .sunflower--image{
        margin: 30px 0 0 350px;
    }
    .flower--icon{
        margin: 20px 0 0 340px;
    }
     .profile--page--middle--line1{
        margin-top: 50px;
     }
     .profile--page--middle--line2{
        margin-top: 70px;
     }
     .post--count{
        margin: 70px 0 0 350px;
     }
     .post--title{
        margin: 75px 0 0 340px ;
     }
     .followers--count{
        margin: 70px 0 0 600px;
     }
     .followers--title{
        margin: 75px 0 0 600px;
        
     }
     .following--count{
        margin: 70px 0 0 840px;
     }
     .following--title{
        margin: 75px 0 0 840px;
     }
     .grid--image{
        margin: 80px 0 0 350px;
     }
     .bookmark--image{
        margin: 80px 0 0 610px;
     }
     .tag--image{
        margin: 80px 70px 0 0;
     }
     .posts--title{
        margin-left:600px;
     }
     .posts----details--para1{
        margin-left: 540px;
     }
     .posts--details--para2{
        margin-left:600px;
     }
    
    
    
}
