.notifications--title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin:20px 0 0 20px;
    
}
.panda--image, .women--image{
    width:40px;
    height:40px;
    border-radius: 50px;
    border-color: 5px solid white;
    margin-left:20px;
    margin-top:20px;

}
.women--image{
    position: absolute;
    top:70px;
    left:18px;
    
}
.follow--requests--span--title{
   position: absolute;
   left:100px;
   top: 80px;
   font-size:20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.follow--request--span--name{
    position: absolute;
    left:100px;
    top:110px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 100;
}
.line{
    width:360px;
    height:0;
    border-top:1px solid #9BA4B5;
    position:absolute;
    left:0px;
    top:140px;
}
.this--week--title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-left:20px
}
.this--week--image{
    width:50px;
    height:50px;
    border-radius: 50px;
    margin: 20px 0 0 20px;
}
.this--week--image--span--name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
    position: absolute;
    left: 100px;
    top:225px;

}
.this--week--image--span--para{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
    font-weight: 100;
    position: relative;
    left:90px;
    bottom:16px;
    
}
.notifications--footer{
    display:flex;
    position:absolute;
    top:780px;
    left:20px;
    width:30px;
    height:30px;
}
button{
    width:80px;
    height:30px;
    border-radius: 7px;
    border:none;
    cursor:pointer;
}
.confirm{
    background-color: #0096FF;
    color:white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.confirm:hover{
    background-color: #0437F2;
}
.delete:hover{
    background-color: #C0C0C0;
}
.delete{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #DDE6ED;
    margin-left:20px;
}



